[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
dvc = {extras = ["gdrive"], version = "*"}

[packages]
numpy = "*"
opencv-python = "*"
imutils = "*"
pygame = "*"
pandas = "*"
tensorflow = "*"
matplotlib = "*"
sklearn = "*"
pydot = "*"

[requires]
python_version = "3.8"
